/* GENERAL STYLES - START */
body {
    color: #777;
    font-family: "RobotoSlab", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 60px 0;
}

section .section-header {
    text-align: center;
    margin-bottom: 70px;
}

section .section-header h2 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #333;
    margin-bottom: 25px;
}

section .section-header .section-caption {
    font-family: "DroidSerif", sans-serif;
}

section h3 {
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-link {
    width: 50px;
    height: 50px;
    background-color: #222;
    display: inline-block;
    line-height: 50px;
    border: 1px solid #222;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    margin: 5px;
    transition: all .4s;
    border-radius: 50%;
}

.social-link:hover {
    background-color: #0ed8d6;
    color: #fff;
    border: 1px solid #0ed8d6;
}

/* GENERAL STYLES - END */
/* NAVIGATION - START */

#main-nav {
    background-color: transparent;
}

#main-nav a.navbar-brand {
    color: #fff;
    font-family: "DroidSerif", sans-serif;
    font-style: italic;
    font-size: 2em;
}

#main-nav .nav-item a {
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    transition: all .4s;
}

#main-nav .nav-item a:hover {
    color: #0ed8d6;
}

#main-nav.scroll {
    background-color: rgba(14, 216, 214, 0.75);
}

#main-nav.scroll .nav-item a:hover {
    color: #777;
}

/* NAVIGATION - END */

#main-header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/header/pictures_on_the_wall.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

#main-header .header-caption h1 {
    font-size: 4em;
    margin: 30px 0;
    text-transform: uppercase;
}

#main-header .header-caption h2 {
    font-size: 3em;
    font-style: italic;
    font-family: "DroidSerif", sans-serif;
}

#main-header .header-caption a.read-more {
    background-color: #0ed8d6;
    color: #fff;
    padding: 15px 20px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #0ed8d6;
    transition: all .4s;
}

#main-header .header-caption a.read-more:hover {
    background-color: #fff;
    color: #0ed8d6;
}

/* HEADER - START */

/* SERVICES - START */

#services .fa {
    font-size: 3em;
    width: 80px;
    height: 80px;
    background-color: #0ed8d6;
    line-height: 80px;
    border: 1px solid #0ed8d6;
    border-radius: 50%;
    color: #fff;
    transition: all .4s;
}

#services .fa:hover {
    background-color: #fff;
    color: #0ed8d6;
    transform: rotate(360deg);
}

/* SERVICES - END */

/* PORTFOLIO - STRAT */

#portfolio {
    background-color: #f7f7f7;
}

#portfolio .portfolio-item {
    background-color: #fff;
    overflow: hidden;
}

#portfolio .portfolio-image {
    overflow: hidden;
}

#portfolio .portfolio-image-background {
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all .4s;
}

#portfolio .portfolio-image-background .portfolio-image-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 216, 214, 0.85);
    transition: all .4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    opacity: 0;
}

#portfolio .portfolio-item .portfolio-image-background:hover {
    transform: scale(1.5);
}

#portfolio .portfolio-item .portfolio-image-background:hover .portfolio-image-mask {
    opacity: 1;
}

#portfolio-image-background-1 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#portfolio-image-background-2 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio-image-background-3 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio-image-background-4 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio-image-background-5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio-image-background-6 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

/* PORTFOLIO - END */

/* TEAM - START */

#team figure img {
    border-radius: 50%;
}
/* TEAM - END */

/* CONTACT - START */
#contact {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/footer/world-map.jpg);
    background-position: center;
    background-size: cover;
}

#contact .section-header h2,
#contact .section-header p {
    color: #fff;
} 

#contact .contact-form .contact-form-column {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact input,
#contact textarea {
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

#contact textarea {
    height: 100%;
}

#contact input[type="submit"] {
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
    transition: all .4s;
}

#contact input[type="submit"]:hover {
    background-color: #fff;
    color: #0ed8d6;
}

/* CONTACT - END */

/* FOOTER - START */

#main-footer {
    padding: 10px 0;
}

#main-footer .copyright,
#main-footer .footer-nav {
    line-height: 50px;
}

#main-footer .footer-nav .footer-nav-item {
    display: inline-block;
    margin-right: 10px;
}

#main-footer .footer-nav .footer-nav-item a {
    color: #777;
    transition: all .4s;
    cursor: pointer;
}

#main-footer .footer-nav .footer-nav-item a:hover {
    color: #0ed8d6;
}

/* FOOTER - END */









