
fieldset
{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 50px;
    background-color: #213b50;
    color: white;
    
}

form input, form textarea, form select
{
    background-color: #435d72 ;
    color: white;
    border: 0;
}

form input:focus, form textarea:focus, form select:focus
{
    background-color: lightslategray;
    color: white;
    border: #213b50;
    outline: 0;
}

input[type="submit"]
{
    background-color: forestgreen;
    color: white;
    width: 100px;
    height: 50px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
}

input:hover[type="submit"]
{
    background-color: limegreen;
}
