body
{
    margin: 0;
}


header, section, footer
{
    height: 100vh;
}

header
{
    background-color: red;
}

section
{
    background-color: green;
}

footer
{
    background-color: blue;
}

#main-nav
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    transition: all 0.4s;
}

#main-nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

#main-nav ul li
{
    display: inline-block;
    color: #fff;
    line-height: 60px;
    margin: 0 20px;
}

#main-nav.transparent
{
    background-color: rgba(0,0,0,0.6);
}

#background 
{
	background-image: url(../3.jpg);
    height: 50vh;
    width: 50%;
    background-size: 150%;
    background-position: 0 0;
    
}