@import 'zmienne';
@import 'nav';
@import 'mixin';


body {
    margin: 0; 
}

#centered-outer {
	background-color: $base-color;
    font-family: $base-font;
    height: 100vh;
    position: relative;
    
    #centered-inner {
	    @include centrowanie;
        background-color: gold;
        
        img {
            @include przytnij(100%);
        }
    }
}
