#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
        
        .list-item {
	        display: inline-block;
            line-height: 50px;
            margin: 0 20px;
            
            &:nth-child(2) {
                a {
                    &:hover {
                        color: greenyellow;
                    }
                }
            }
            
            a {
                text-decoration: none;
                color: red;
                
                &:hover {
                    color: blueviolet;
                }
            }
        }
    }
}

